sudo: false

language: python

services:
  - docker

python:
  - 3.6

install:
- docker build -t $REPO .

script:
- docker run -d -p 5000:5000 $REPO

env:
  - REGISTRY_USER=eddyweddy

deploy:
  provider: script
  script: bash docker_push.sh
  password:
    secure: snCJxDOe2Vz7q3iQ/Wa/d76ZZ8QT5PI1gbVorWNj1h3STauwJLFAdhhpaMnyYlCFTKEMJG4APz//GsOnVY+7GYJeRPt9Zw0StbVOwg+AWTcK8i877/Wv4U9zCXUUdMV7WPDFvArqB8iawOHe9G0Ppq/EYgdTMT8nC/UaT41ngThQ4vZoSiIbs/wopvHH1giFniDorK8P4BRXfDqeqna/+L2QedX6uXglr4YhcFwjO5EcUXFKSqkPOWLi2lU059bjrH7zHaSER/2/OW1MpNvcY5cWTk6klEdfxt2X9nL/0D09kUIVlrGGzXP662Rkc8dyaX1ZEnYMStJbiaH9iuqBCMWKI6K3XsvooAU2pJNuJaHWTKMETb/azpW77oDd0RBz0rd66D/vTzPopTM6GBuQUfRhfQLUFrfRalSTC4TcKga1ABvZuzD/SQQR6S2Uq/E+Gw3vryEkbIkFWULbrPOb8MMkKkj5V88Gt9R/4kMupgPl2caamEvTSJmC6CDoTYkgwEAz9ble73m3x/NapYHk4pad7SIkIsukohA1FCirPKT8BQ++DEGEKYV4yrK0KzZypOacomeB7s1EkJe8NRleBNbrZSuQYu3hyzSLXZGa173PFxolYTmGLMdaNSUOiCct09RTPgheHGkKIXH9HxgAhwJ8MNdrDpMLxhzwdoDLPFQ=
